* {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
 }

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__page {
  background: #FFFFFF;
  width: 1920px;
}

.page-header {
  width: 1920px;
  margin-bottom: 14px;
}

.header__logo__block {
  cursor: pointer;
  margin-right: 15px;
}

.header__logo__block:hover {
  opacity: 0.8;
}

.header__sell__block {
  padding: 0px 6px 0 6px;
  cursor: pointer;
  margin-right: 25px;
}

.header__link__sell {
  font-weight: 500;
  font-size: 20px;
  color: #5A5B6A;
}

.header__link__sell:hover {
  color: #868689;
}

.header__register__block {
  padding: 0px 6px 0px 6px;
  cursor: pointer;
  margin-right: 99px;
}

.header__link__register {
  font-size: 20px;
  color: #5A5B6A;
}

.header__link__register:hover {
  color: #868689;
}

.header__search__block {
  background: #EDEDF0;
  border-radius: 99px;
  margin-right: 25px;
  padding: 8px 8px 8px 44px;
  justify-content: center;
  position: relative;
}

.header__input {
  min-width: 616px;
  font-size: 20px;
  background: #EDEDF0;
  border: none;
  outline: none;
}

.header__input::placeholder {
  color: #19191D;
}

.search__icon__loupe {
  cursor: pointer;
  left: 17px;
  position: absolute;
}

.search__icon__close {
  cursor: pointer;
  right: 15px;
  position: absolute;
}

.header__consumer__block {
  padding: 0px 6px 0px 6px;
  cursor: pointer;
  margin-right: 120px;
}

.link__consumer {
  font-size: 20px;
  color: #2264D1;
}

.link__consumer:hover {
  opacity: 0.8;
}

.header__sign__block {
  cursor: pointer;
  margin-right: 24px;
  border: 1px solid #9DC2FF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
}

.header__sign__block:hover {
  opacity: 0.8;
}

.sign__link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #2264D1;
}

.header__cart__block {
  cursor: pointer;
  padding: 5px 12px 5px 12px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
  margin-right: 16px;
  position: relative;
}

.header__cart__block:hover {
  opacity: 0.8;
}

.cart__link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.0075em;
  line-height: 30px;
  color: #2264D1;
}

.cart__icon {
  cursor: pointer;
  left: 81px;
  bottom: 22px;
  position: absolute;
}

/* naaaaav */



.nav {
  width: 1920px;
  margin-bottom: 22px;
}

.active__list__item {
  background: #EBF2FF;
  border-radius: 10px;
}

.list__link__clothing {
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.018em;
  color: #2979FF;
}

.navigation__list {
  min-width: 1493px;
  padding: 0;
  margin: 0;
  margin: 0px 0px 16px 215px;
  justify-content: space-around;
  list-style-type: none;
  cursor: pointer;
}

.list__item {
  align-items: center;
  justify-content: space-between;
  min-height: 47px;
  padding: 4px;
}

.list__item:hover {
  background: #EBF2FF;
  opacity: 0.7;
  border-radius: 10px;
  
}
.list__item:hover .list__link {
  color: #2979FF;
}

.list__item:hover .list__path {
  fill: #2979FF;
}

.list__link {
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.018em;
  color: #787885;
}

/* main */
.main {
  width: 1920px;
  align-items: flex-start;
}

.main__content {
  width: 1083px;
  padding: 16px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  margin-bottom: 32px;
}

.main__navigation {
  margin-bottom: 24px;
}

.main__select__useless__case {
  justify-content: center;
  margin-right: 16px;
  border: 1px solid #5A5B6A;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8.5px 15px 6.5px 12px;
  position: relative;
}

.useless__sort-by {
  left: 12px;
  bottom: 25px;
  position: absolute;
}

.select__useless { 
  border: none;
  font-size: 14px;
  line-height: 143%;
  cursor: pointer;
  letter-spacing: 0.018em;
  color: #787885;
  appearance: none;
  padding-right: 23px;
  outline: 0;
  background: url("./img/main/selecterrow.png") no-repeat right center;
}

.main__select__condition__case {
  justify-content: center;
  margin-right: 16px;
  border: 1px solid #B4B4BB;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6.5px 9px 6.5px 12px;
}

.main__select__condition__case:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main__select__delivery__case:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main__select__useless__case:hover {
  opacity: 0.8;
  cursor: pointer;
}

.select__condition {
  border: none;
  font-size: 14px;
  line-height: 143%;
  cursor: pointer;
  letter-spacing: 0.018em;
  color: #787885;
  appearance: none;
  padding-right: 23px;
  outline: 0;
  background: url("./img/main/selecterrow.png") no-repeat right 4px center;
}

.main__select__delivery__case {
  justify-content: center;
  margin-right: 233px;
  border: 1px solid #B4B4BB;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6.5px 3px 6.5px 12px;
}

.select__delivery {
  border: none;
  font-size: 14px;
  line-height: 143%;
  cursor: pointer;
  letter-spacing: 0.018em;
  color: #787885;
  appearance: none;
  padding-right: 23px;
  outline: 0;
  background: url("./img/main/selecterrow.png") no-repeat right 10px center;
}

.main__navigation__buttons {
  justify-content: center;
  margin-right: 24px;
  height: 36px;
}

.navigation__buttons__block {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  background: #EBF2FF;
}

.nav__button {
  font-size: 14px;
  line-height: 143%;
  color: #5A5B6A;
  background: #EBF2FF;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 85px;
  height: 36px;
}

.nav__button:hover {
  color: #2264D1;
  font-weight: bold;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
}

.active__nav__button {
  color: #2264D1;
  font-weight: bold;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
}

.sort__button:hover {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
}

.sort__button {
  cursor: pointer;
  border: none;
  background: #EBF2FF;
  border-radius: 4px;
  padding: 10px 25px 5px 25px;
}

.active__sort__button {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
}

.main__filter__list {
  width: 100%;
}

.main__filter__title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #19191D;
  margin-right: 7px;
}

.filter__list {
  padding: 16px 0px;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
}

.filter__list__item, .filter__list__item__vin {
  background: #EDEDF0;
  border-radius: 99px;
  padding: 6px 12px 5px 12px;
}

.filter__list__item:hover {
  opacity: 0.7;
  background: #e1e1f1;
  border-radius: 99px;
  padding: 6px 12px 5px 12px;
}

.filter__list__item__vin:hover {
  opacity: 0.7;
  background: #e1e1f1;
  border-radius: 99px;
  padding: 6px 12px 5px 12px;
}

.filter__list__item {
  margin-right: 14px;
}

.list__item__text, .list__item__text__vin {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.037em;
  color: #4A4B57;
}

/* card */

.main__content__cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__card__active {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}

.content__card {
  justify-content: center;
  padding: 16px 16px 20px 16px;
  border-radius: 8px;
}

.content__card:hover {
	background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}

.card__icon__case {
  max-width: 227px;
  max-height: 236px;
  margin-bottom: 12px;
}

.card__content__case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 16px;
  max-width: 227px;
  height: 67px;
}

.card__content {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  margin: 0;
  color: #19191D;
}

.card__price__case {
  justify-content: space-between;
  text-align: center;
  margin-bottom: 6px;
  width: 227px;
  height: 42px;
}

.card__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.card__description__case {
  justify-content: flex-start;
  margin-bottom: 8px;
  width: 227px;
  height: 42px;
}

.card__description {
  margin: 0;
  color: #787885;
  font-size: 14px;
  line-height: 20px;
}

.card__buttons__case {
  justify-content: flex-start;
  width: 227px;
  height: 34px;
}

.card__star__icon {
  margin-right: 16px;
}

.card__watch__button__case {
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #9DC2FF;
  cursor: pointer;
  border-radius: 4px;
  width: 88px;
  height: 32px;
}

.card__watch_icon {
  margin-right: 5px;
  width: 14px;
  height: 13px;
}

.button__watch {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  border: none;
  background: none;
  color: #2264D1;
}

.card__watch__button__case:hover {
  background: #fffafa;
}

.main__sub__content {
  min-width: 1119px;
  margin-left: 371px;
  justify-content: space-between;
  margin-bottom: 49px;
}

.content__tab__case {
  padding: 30px 56px 33px 56px;
  background: #EDEDF0;
  border-radius: 8px;
}
.tab__title {
  cursor: pointer;
}

.tab__title__text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  margin:0;
  letter-spacing: 0.0075em;
  color: rgba(0, 0, 0, 0.87);
}

.tab__description__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  margin : 0;
  padding-top:0;
  color: #5A5B6A;
}

.tab__icon {
  padding-bottom: 0px;
  margin-bottom: 7px;
}

/* footer */

.footer {
  width: 1920px;
  align-items: flex-start;
  background: #F7F7FA;
  padding-top: 30px;
}

.footer__business__customer {
  align-items: flex-start;
  margin-left: 591px;
  margin-bottom: 25px;
}

.customer__block {
  align-items: flex-start;
  margin-right: 85px;
}

.customer__title {
  font-weight: bold;
  letter-spacing: 0.0275em;
  text-transform: uppercase;
  color: #B1B1C4;
  margin-bottom: 30px;
  cursor: pointer;
}

.customer__title:last-child {
  margin: 0;
}

.customer__link__block {
  justify-content: space-between;
  margin-bottom: 25px;
}

.customer__link {
  font-size: 16px;
  letter-spacing: 0.0275em;
  color: #1F1F1F;
  margin-right: 40px;
  cursor: pointer;
}

.customer__link:hover {
  opacity: 0.8;
}

.customer__phone__block {
  justify-content: space-between;
}

.contact__number__block {
  align-items: flex-start;
  margin-right: 25px;
}

.contact__number:hover {
  opacity: 0.6;
}

.contact__number {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.0275em;
  text-transform: uppercase;
  margin: 0px;
  color: #1F1F1F;
  margin-bottom: 12px;
  cursor: pointer;
}

.contact__time {
  font-size: 12px;
  color: #5A5B6A;
  margin: 0px;
  cursor: pointer;
}

.contact__mail__block {
  align-items: flex-start;
  margin-right: 38px;
}

.contact__mail {
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #1F1F1F;
  margin-bottom: 12px;
  text-decoration: none;
  cursor: pointer;
}

.contact__mail:hover {
  opacity: 0.8;
}

.contact__question {
  margin: 0px;
  font-size: 12px;
  color: #5A5B6A;
  cursor: pointer;
}

.contact__networks {
  justify-content: space-between;
}

.contact__button__block {
  background: #EBF2FF;
  border-radius: 4px;
  padding: 11.5px 23.5px 11.5px 23.5px;
  margin-right: 35px;
  cursor: pointer;
}

.contact__button__block:hover {
  opacity: 0.8;
}

.contact__button {
  border: none;
  outline: none;
  background: #EBF2FF;
  padding: 0px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #2264D1;
  cursor: pointer;
}

.facebook__icon {
  margin-right: 20px;
  cursor: pointer;
}

.facebook__icon:hover {
  opacity: 0.8;
}

.twitter__icon {
  cursor: pointer;
}

.twitter__icon:hover {
  opacity: 0.8;
}


.business__block {
  align-items: flex-start;
}

.business__title__block {
  margin-bottom: 30px;
}

.business__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.0275em;
  text-transform: uppercase;
  color: #B1B1C4;
  cursor: pointer;
}

.business__cooperation__block {
  /* border: 1px solid black; */
  margin-bottom: 30px;
}

.business__cooperation__link {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.0275em;
  color: #1F1F1F;
  cursor: pointer;
}

.business__cooperation__link:hover {
  opacity: 0.8;
}

.business__contact__number {
  align-items: flex-start;
  margin-right: 24px;
}

.business__number {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #1F1F1F;
  margin-bottom: 12px;
  cursor: pointer;
}

.business__number:hover {
  opacity: 0.8;
}

.business__time {
  font-size: 12px;
  line-height: 100%;
  color: #5A5B6A;
  cursor: pointer;
}

.business__contact__mail {
  align-items: flex-start;
}

.business__mail {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.0275em;
  color: #1F1F1F;
  margin-bottom: 12px;
  text-decoration: none;
  cursor: pointer;
}

.business__mail:hover {
  opacity: 0.8;
}

.business__question {
  font-size: 12px;
  line-height: 100%;
  color: #5A5B6A;
  cursor: pointer;
}

.footer__form__wrapper {
  margin-left: 592px;
}

.footer__form__block {
  background: #E6E6EA;
  width: 100%;
  margin-bottom: 13px;
}

.footer__form {
  justify-content: center;
  margin-right: 17px;
}

.footer__form__icon__block {
  padding: 12px 12px 12px 0px;
  border-right: 1px solid #5A5B6A;
  margin-right: 16px;
  cursor: pointer;
}

.form__input {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #787885;
  background: #E6E6EA;
  width: 132px;
  margin-right: 55px;
  outline: none;
  border: none;
}

.form__button__block {
  border: 1px solid #9DC2FF;
  border-radius: 4px;
  padding: 7px 21px 11px 21px;
  cursor: pointer;
}

.form__button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.0075em;
  color: #2264D1;
  border: none;
  outline: none;
  cursor: pointer;
  background: #E6E6EA;
}

.form__button__block:hover {
  opacity: 0.8;
}

.footer__affiliate__link {
  padding: 17px 120px 17px 116px;
  border-left: 1px solid #D1D1E1;
  border-right: 1px solid #D1D1E1;
}

.affiliate__link {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.0275em;
  color: #1F1F1F;
  cursor: pointer;
}

.affiliate__link:hover {
  opacity: 0.8;
}

.footer__add__link {
  padding: 17px 118px 17px 132px;
  border-right: 1px solid #D1D1E1;
}

.add__link {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.0275em;
  cursor: pointer;
  color: #1F1F1F;
}

.add__link:hover {
  opacity: 0.8;
} 

.footer__payment__block {
  margin-left: 592px;
}

.shopka__info {
  font-size: 12px;
  line-height: 100%;
  color: #B1B1C3;
  margin-right: 301px;
  cursor: pointer;
}

.visa__icon {
  margin-right: 23.5px;
  cursor: pointer;
}

.master__icon {
  margin-right: 369px;
  cursor: pointer;
}

.privacy__info__sitemap {
  font-size: 12px;
  line-height: 100%;
  color: #5A5B6A;
  margin-right: 16px;
  cursor: pointer;
}

.privacy__info__policy {
  font-size: 12px;
  line-height: 100%;
  color: #5A5B6A;
  cursor: pointer;
}


/* aside */

.aside {
  width: 303px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 213px;
  margin-right: 75px;
}

.department__button__block {
  padding: 8px 51px 8px 91px;
  border: 1px solid #9DC2FF;
  border-radius: 8px;
  position: relative;
  margin-bottom: 47px;
  cursor: pointer;
}

.department__button__block:hover {
  opacity: 0.8;
}

.department__button {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #2264D1;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  outline: none;
}

.department__button__icon {
  position: absolute;
  left: 19px;
  top: 16px;
}

.aside__department__list, .department__all, .electronics__list, .cell__list, .expanded__filter__list, .year__filter__list {
  list-style: none;
  padding: 0;
	margin: 0;
}

.department__list__item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.electronics__title__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #19191D;
  padding-left: 54px;
  margin: 0;
}

.cell__phone__title {
  padding-left: 10px;
}

.all__title__text {
  margin: 0;
  padding-left: 48.5px;
  font-size: 16px;
  line-height: 150%;
  color: #19191D;
}

.ecommerce__title__text {
  margin: 0;
  font-size: 14px;
  line-height: 143%;
  padding-left: 49px;
  color: #787885;
}

.all__title {
  margin-bottom: 13px;
  background: url("./img/aside/errowrigthblue.png") no-repeat left 24px center;
}

.electronics__title {
  margin-bottom: 18px;
  background: url("./img/aside/blueErrowBottom.png") no-repeat left 29px center;
}

.cell__title {
  background: url("./img/aside/blueErrowBottom.png") no-repeat left 37px center;
}

.cell__title__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #19191D;
  padding-left: 62px;
}

.accossories__title__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-left: 62px;
}

.gatgets__title__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-left: 61px;
}

.applications__title {
  margin: 0;
}

.applications__title__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-left: 61px;
}

.smart__title {
  margin-bottom: 8px;
}

.smart__title__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-left: 61px;
}

.cell__button__block {
  margin: 0;
  padding-left: 63px;
  position: relative;
  margin-bottom: 9px;
  cursor: pointer;
}

.cell__button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #2264D1;
  background: #EBF2FF;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 11.5px 48px 11.5px 12px;
}

.cell__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cell__button__arrow {
  position: absolute;
  right: 102px;
}

.business__list__title {
  margin-bottom: 14px;
  background: url("./img/aside/errowrigthblue.png") no-repeat left 30px center;
}

.business__list__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #19191D;
  margin: 0;
  padding-left: 55px;
}

.computers__title {
  background: url("./img/aside/errowrigthblue.png") no-repeat left 30px center;
}

.computers__text {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.0275em;
  line-height: 150%;
  color: #19191D;
  padding-left: 55px;
}

.tablets__computers__text {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.018em;
  line-height: 143%;
  color: #787885;
  padding-left: 55px;
}

.consumer__title {
  background: url("./img/aside/errowrigthblue.png") no-repeat left 30px center;
}

.consumer__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-left: 55px;
}

.home__title {
  background: url("./img/aside/errowrigthblue.png") no-repeat left 30px center;
}

.home__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-left: 55px;
}

.collectibles__title {
  margin-bottom: 14px;
  background: url("./img/aside/errowrigthblue.png") no-repeat left 30px center;
}

.collectibles__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-left: 55px;
}

.expand__button__block {
  margin: 0;
  padding-left: 55px;
  margin-bottom: 49px;
  cursor: pointer;
}

.expand__button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  padding: 11.5px 12px 11.5px 12px;
  background: #EBF2FF;
  border-radius: 4px;
  color: #2264D1;
  border: none;
  outline: none;
}

.expand__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.collapsed__block {
  margin-bottom: 23px;
  padding: 6px 170px 6px 6px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
  background: url("./img/aside/greyErrowbottom.png") no-repeat right 19px center;
}

.collapsed__block:hover {
  cursor: pointer;
  opacity: 0.8;
}

.collapsed__title {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #19191D;
}

.expanded__filter__block {
  margin-bottom: 21px;
  padding: 8px 0px 0px 12px;
  background: #F7F7FA;
  border-radius: 4px;
}

.expanded__title__block {
  margin-bottom: 24px;
  background: url("./img/aside/greyarrowup.png") no-repeat right 19px center;
}

.expanded__text {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  padding-right: 153px;
  color: #19191D;
}

#expanded__filter__label {
  padding-left: 5px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding-bottom: 18px;
}

.expanded__filter__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.expanded__filter__input+#expanded__filter__label:hover {
  color: #656566;
  cursor: pointer;
}

.expanded__filter__input+#expanded__filter__label{
  display: inline-flex;
  align-items: center;
}

.expanded__filter__input+#expanded__filter__label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 3px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

.expanded__filter__input:checked+#expanded__filter__label::before {
  border-color: #136fda;
  background-color: #1f78dd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.year__filter__block {
  padding: 8px 0px 0px 15px;
  background: #F7F7FA;
  border-radius: 4px;
}

.year__title__block {
  margin-bottom: 16px;
  background: url("./img/aside/greyarrowup.png") no-repeat right 19px center;
}

.year__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  padding-right: 107px;
  color: #19191D;
  margin: 0;
}

#year__filter__label {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  padding: 0px 0px 18px 0px;
}

.year__filter__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.year__filter__input+#year__filter__label:hover {
  color: #656566;
  cursor: pointer;
}

.year__filter__input+#year__filter__label{
  display: inline-flex;
  align-items: center;
}

.year__filter__input+#year__filter__label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 3px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

.year__filter__input:checked+#year__filter__label::before {
  border-color: #136fda;
  background-color: #1f78dd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}











